/*
************
*************************
13. Animation
******************************************************* 
*************************************************************** */

@keyframes playAnimation {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1.6);
        opacity: 0;
    }
}
@keyframes toTopBottom {
    0% {
        top: 0;
    }
    50% {
        top: calc(100% - 20px);
    }
    100% {
        top: 0;
    }
}