/*
************
*************************
16. Brand
******************************************************* 
*************************************************************** */
@use '../abstracts/variables' as *;
.sg-brand {
    &-img {
        text-align: center;
        & img {
            max-width: 118.93px;
            margin-left: auto;
            display: block;
            @media #{$md} {
                margin-left: inherit;
            }
            @media#{$xs} {
                margin-left: 0;
            }
        }
    }
    &-left-space {
        @media #{$md, $xs} {
            padding-left: 0;
        }
    }
}
.has-brand-bg {
    position: relative;
    & > * {
        position: relative;
        z-index: 9;;
    }
    &::after {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--clr-common-black);
        content: "";
        opacity: .81;
    }
}