/*
************
*************************
43. Checkout
******************************************************* 
*************************************************************** */
@use '../abstracts/variables' as *;
.sg-return-customar-login-warning-link {
    & span {
        font-size: 16px;
        margin-right: 5px;
    }
    & a {
        font-weight: 500;
        text-decoration: none;
        color: var(--clr-common-black);
        &:hover {
            color: var(--clr-theme-primary);
        }
    }
}
.sg-billing {
    &-details {
        &-title {
            font-size: 22px;
        }
    }
}
.sg-submit-form-default-single {
    & .select2 {
        width: 100% !important; height: 55px; border-radius: 5px; padding: 0 7px; color: var(--clr-body-text); border: 1px solid var(--clr-bg-gray-3); 
        & .select2-selection {
            height: 100%;
            border: 0;
        }
    }
    & span#select2-country-container {transform: translateY(12px);    color: var(--clr-body-text);}
    & .select2-container--default .select2-selection--single .select2-selection__arrow {top: 14px;right: 9px;}
}

// order summery box
.sg-checkout-order-summery {
    &-box {
        border: 1px solid var(--clr-bg-gray-3);
        border-radius: 5px;
        padding: 50px 40px;
        padding-bottom: 43px;
        @media #{$xs} {
            padding: 30px 24px;
        }
        &-wrap {
            padding-bottom: 12px;
        }
        &-pricing-list {
            & ul {
                margin-bottom: 0;
                & li {
                    overflow: hidden;
                    list-style-type: none;
                    &:not(:last-child) {
                        border-bottom: 1px solid var(--clr-bg-gray-3);
                        padding-bottom: 11px;
                        margin-bottom: 13px;
                    }
                    & span {
                        &.label {
                            font-size: 16px;
                            display: inline-block;
                            &.total {
                                font-weight: 500;
                                color: var(--clr-common-black);
                            }
                        }
                        &.price {
                            font-size: 16px;
                            color: var(--clr-common-black);
                            float: right;
                            &.flat {
                                color: var(--clr-body-text);
                                & span {
                                    color: var(--clr-theme-primary);
                                }
                            }
                            &.total {
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
        &-product {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid var(--clr-bg-gray-3);
            padding-bottom: 30px;
            @media #{$xs} {
                display: block;
            }
            &:not(:first-child) {
                padding-top: 30px;
            }
            & .left {
                display: flex;
                align-items: center;
                grid-gap: 29px;
                @media #{$xs} {
                    margin-bottom: 15px;
                    grid-gap: 9px;
                    flex-wrap: wrap;
                }
                & > * {
                    flex: 0 0 auto;
                }
                & .image {
                    max-width: 53px;
                }
                & .title-wrap {
                    & span {
                        font-size: 16px;
                    }
                    & .title {
                        display: inline-block;
                        font-size: 16px;
                        font-family: $dmsans;
                        font-weight: 500;
                        margin-bottom: 0;
                        margin-right: 8px;
                        & a {
                            text-decoration: none;
                            &:hover {
                                color: var(--clr-theme-primary);
                            }
                        }
                    }
                }
            }
        }
    }
}
.sg-price {
    font-size: 16px;
}

// payment info
.sg-checkout-payment-info {
    &-box {
        & .accordion-collapse {
            padding-top: 9px;
        }
        & p {
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 0;
        }
        & .sg-checkout-payment-condition-text {
            font-size: 16px;
            line-height: 26px;
            & a {
                text-decoration: none;
                color: var(--clr-common-black);
                font-weight: 500;
                &:hover {
                    color: var(--clr-theme-primary);
                }
            }
        }
        & .accordion {
            border-bottom: 1px solid var(--clr-bg-gray-3);
            & button {
                width: 100%;
                height: 55px;
                border-radius: 5px;
                background-color: var(--clr-bg-gray-16);
                border: 1px solid var(--clr-theme-primary);
                color: var(--clr-theme-primary);
                text-align: left;
                padding: 0 20px;
                & i {
                    font-size: 25px;
                    margin-right: 11px;
                    vertical-align: middle;
                    margin-top: -2px;
                    color: var(--clr-theme-primary);
                }
                &.collapsed {
                    color: var(--clr-body-text);
                    background: transparent;
                    border: 1px solid var(--clr-bg-gray-3);
                    & i {
                        color: var(--clr-body-text);
                    }
                }
            }
        }
    }
}
.sg-billing-details-space-right.pr-20 {
    @media #{$lg} {
        padding-right: 10px;
    }
    @media #{$md, $xs} {
        padding-right: 0;
    }
}