/*
************
*************************
19. Counter
******************************************************* 
*************************************************************** */
@use '../abstracts/variables' as *;
.sg-counter {
    &-count {
        font-size: 70px;
        margin-bottom: 10px;
        @media #{$xs} {
            font-size: 63px;
        }
        @media #{$md} {
            margin-bottom: 0;
        }
    }
    &-label {
        display: block;
        font-weight: 500;
        font-size: 18px;
        @media #{$xs} {
            font-size: 17px;
        }
    }
}
.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
    font-family: inherit;
}
.counter-area.pt-410 {
    @media #{$xs} {
        padding-top: 120px;
    }
}
.sg-counter-num-box {
	text-align: center;
}
.counter-area.pt-125.pb-120 {
    @media #{$md} {
        padding-bottom: 90px;
        padding-top: 115px;    
    }
}
.counter-area.pt-125.pb-120 {
    @media #{$xs} {
        padding-top: 115px;
        padding-bottom: 90px;
    }
}