/*
************
*************************
25. Faq
******************************************************* 
*************************************************************** */
@use '../abstracts/variables' as *;
.sg-faq {
    &-accordion {
        &-2 {
            & .acc-item {
                background: var(--clr-bg-gray);
                margin-bottom: 10px;
                border-radius: 8px;
                & .accordion-body {
                    padding-top: 0;
                }
            }
            & .general-faq {
                & button {
                    width: 100%;
                    height: 60px;
                    margin-bottom: 0;
                    border-radius: 8px;
                    background: var(--clr-bg-gray);
                    border: 0;
                    text-align: left;
                    font-weight: 500;
                    font-size: 18px;
                    color: var(--clr-common-black);
                    padding: 0 20px;
                    @media #{$xs} {
                        height: 80px;
                    }
                    &.collapsed {
                        & .minus-icon {
                            display: none;
                        }
                        & .plus-icon {
                            float: right;
                            @media #{$xs} {
                                display: none;
                            }
                            & i {
                                font-size: 16px;
                            }
                        }
                    }
                    &:not(.collapsed) .minus-icon {
                        float: right;
                        @media #{$xs} {
                            display: none;
                        }
                    }
                    &:not(.collapsed) .plus-icon {
                        display: none;
                    }
                }
            }
        }
    }
}
.sg-working-faq-reverce-space {
    margin-top: -204px;
}
.sg-faq-wrapper-2.pl-70 {
    @media #{$md, $xs} {
        padding-left: 0;
    }
}