/*
************
*************************
38. Popup
******************************************************* 
*************************************************************** */
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
// video call popup
.sg-video-call-popup {
    max-width: 650px;
    margin: 0 auto;
    position: fixed;
    top: 30%;
    left: 50%;
    transition: all .3s;
    transform: translate(-50%, -50%);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    padding: 100px 40px;
    padding-bottom: 20px;
    background: var(--clr-common-white);
    @media #{$xs} {
        width: 80%;
        padding: 100px 15px;
        padding-bottom: 20px;
    }
    & .cross-btn {
        position: absolute;
        right: 30px;
        top: 30px;
        & button {
            border: 0;
            padding: 0;
            background-color: transparent;
            color: var(--clr-common-black);
            & i {
                font-size: 27px;
            }
        }
    }
    &.visible {
        top: 50%;
        opacity: 1;
        visibility: visible;
    }
}
.bg-overlay  {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    bottom: 0;
    transition: all .3s;
    background: #1d1d1e;
    opacity: 0;
    visibility: hidden;
    &.visible {
        opacity: 0.2;
        visibility: visible;
    }
}
// sidebar menu popup
.sg-sidebar-menu-popup-1 {
    position: fixed;
    right: -700px;
    transition: all .3s linear;
    top: 0;
    overflow-y: auto;
    background: var(--clr-common-white);
    z-index: 999;
    height: 100%;
    max-width: 465px;
    padding: 30px 50px;
    padding-bottom: 135px;
    @media #{$xs} {
        padding: 30px 30px;
        max-width: 426px;
    }
    &.visible {
        right: 0;
    }
    &::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    & .sg-sidebar-menu-cross {
        & button {
            border: 0;
            padding: 0;
            line-height: 1;
            background: transparent;
            font-size: 16px;
            color: var(--clr-common-black);
            &:hover {
                color: var(--clr-theme-primary);
            }
            & i {
                font-size: 19px;
                transform: translateY(1px);
            }
        }
    }
}
.sg-sidebar-menu-l {
    & img {
        max-width: 196px;
    }
}


.sg-popup-search-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: var(--clr-common-white);
    padding: 70px 0;
    transform: scaleY(0);
    transition: all .3s;
    transform-origin: top;
    @media #{$xs} {
        height: 100%;
        overflow-y: auto;
    }
    &.visible {
        transform: scaleY(1);
    }
    & form {
        position: relative;
    }
    &-input {
        & input {
            width: calc(100% - 350px);
            height: 60px;
            background: #f8f8f8;
            border: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            font-size: 14px;
            color: var(--clr-body-text);
            padding: 0 30px;
            @media #{$xs} {
                width: 100%;
                background-color: transparent;
            }
        }
    }
    & button[type="submit"] {
        position: absolute;
        right: 0;
        top: 0px;
        bottom: 0;
        padding: 0 30px;
        border: 0;
        background:  transparent;
    }
    & .nice-select {
        width: 350px;
        height: 60px;
        line-height: 60px;
        font-size: 16px;
        color: var(--clr-common-black);
        border: 1px solid var(--clr-bg-gray-14);
        background: var(--clr-bg-gray-16);
        position: relative;
        z-index: 9;
        &::after {
            border-bottom-width: 1px;
            border-right-width: 1px;
            border-bottom-color: var(--clr-body-text);;
            border-right-color: var(--clr-body-text);;
            right: 20px;
            width: 7px;
            height: 7px;
        }
        @media #{$xs} {
            float: none;
            width: 100%;
            margin-bottom: 20px;
        }
        & .list {
            width: 100%;
        }
    }
}
.sg-popup-search-result {
    &-title {
        font-size: 26px;
        margin-bottom: 25px;
    }
}
.sg-popup-search-product {
    &-title {
        font-size: 14px;
        margin-bottom: 0;
        margin-bottom: 8px;
        & a {
            text-decoration: none;
            &:hover {
                color: var(--clr-theme-primary);
            }
        }
    }
    &-img {
        height: 166px;
        background: var(--clr-bg-gray-16);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        & img {
            max-width: 98px;
            &.second {
                opacity: 0;
                visibility: hidden;
                transition: all .3s;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    &-box {
        & .sg-product-box-style-1-subtitle {
            margin-bottom: 10px;
        }
        &:hover {
            & .sg-popup-search-product-img {
                & img {
                    opacity: 0;
                    visibility: hidden;
                    &.second {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}
/**
* popup product
*/
.sg-single-product-popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 973px;
    background-color: var(--clr-common-white);
    z-index: 999;
    &-title {
        font-size: 34px;
        color: var(--clr-theme-primary);
        margin-bottom: 13px;
        @media #{$xs} {
            font-size: 24px;
            line-height: 1.4;
        }
        @media #{$sm} {
            font-size: 28px;
        }
    }
    &-left {
        float: left;
        width: 319px;
    }
    &-right {
        overflow: hidden;
    }
    &-image {
        height: 360px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--clr-bg-gray-16);
        border-radius: 10px;
        &.has-height {
            height: 497px;
            & img {
                max-width: 337px;
            }
        }
        &-control, &-control-2 {
            height: 80px;
            width: 80px;
            margin: 0 auto;
            border: 1px solid var(--clr-bg-gray-3);
            display: flex;
            align-items: center;
            justify-content: center;
            @media #{$xs} {
                width: 70px;
            }
            @media #{$sm} {
                width: 80px;
            }
            & img {
                max-width: 52px;
            }
        }
        & img {
            max-width: 200px;
        }
    }
}

.sg-single-product {
    &-popup {
        &-price {
            &-rating-wrap {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                grid-gap: 46px;
                @media #{$xs} {
                    flex-wrap: wrap;
                    grid-gap: 5px;
                }
                & .rating {
                    display: inline-block;
                }
                & > * {
                    flex: 0 0 auto;
                }
            }
        }
    }
}


.sg-single-product-popup {
    padding: 50px;
    padding-bottom: 35px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    border-radius: 10px;
    max-height: 90vh;
    overflow-y: auto;
    max-width: 90vw;
    &-2 {
        padding: 50px;
        transition: all .3s;
        border-radius: 10px;
        border-radius: 10px;
        border: 1px solid var(--clr-bg-gray-3);
        &.has-shop-details-2 {
            @media #{$xs} {
                padding: 20px;
            }
        }

    }
    @media #{$xs} {
        padding: 40px 30px;
    }
    &.visible {
        opacity: 1;
        visibility: visible;
    }
    &-close-action {
        position: absolute;
        right: 50px;
        top: 50px;
        padding: 0;
        line-height: 1;
        border: 0;
        background: transparent;
        color: var(--clr-common-black);
        font-size: 20px;
        font-weight: 700;
        &:hover {
            color: var(--clr-theme-primary);
        }
    }
    &-payment-checkout-card-display {
        border-radius: 5px;
        background: var(--clr-bg-gray-16);
        padding: 20px 20px;
        & img {
            margin-bottom: 5px;
        }
        & span {
            display: block;
            font-size: 14px;
            color: var(--clr-common-black);
        }
    }
    &-buy-now-btn {
        display: block;
        font-size: 16px;
        font-weight: 500;
        height: 40px;
        border-radius: 5px;
        background: var(--clr-theme-primary);
        line-height: 40px;
        text-decoration: none;
        color: var(--clr-common-white);
        text-align: center;
        @media #{$xs, $md} {
            display: inline-block;
            padding: 0 34px;
        }
        &:hover {
            background-color: var(--clr-common-black);
            color: var(--clr-common-white);
        }
    }
    &-cart-action-wrap {
        display: flex;
        grid-gap: 20px;
        @media #{$xs} {
            flex-wrap: wrap;
        }
        & > * {
            flex: 0 0 auto;
        }
    }
    &-add-cart-wide-btn {
        width: 354px;
        height: 40px;
        border-radius: 5px;
        background: var(--clr-bg-gray-16);
        display: inline-block;
        text-align: center;
        line-height: 40px;
        font-weight: 500;
        font-size: 16px;
        color: var(--clr-common-black);
        text-decoration: none;
        @media #{$lg} {
            width: 235px;
        }
        @media #{$xs} {
            width: 100%;
            padding: 0 50px;
        }
        &:hover {
            background-color: var(--clr-theme-primary);
            color: var(--clr-common-white);
        }
    }
    &-quantity-box {
        width: 130px;
        height: 40px;
        border-radius: 5px;
        background: var(--clr-bg-gray-16);
        position: relative;
        @media #{$xs} {
            width: 160px;
        }
        & .plus {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border: 0;
            right: 16px;
            background-color: transparent;
        }
        & .minus {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border: 0;
            left: 16px;
            background-color: transparent;
        }
        & input {
            width: 100%;
            border: 0;
            background: transparent;
            height: 40px;
            text-align: center;
            font-size: 16px;
            color: var(--clr-common-black);
            font-weight: 700;
        }
    }
    &-excerpt {
        & p {
            font-size: 16px;
            margin-bottom: 0;
            line-height: 26px;
        }
    }
    &-feature-list {
        & ul {
            & li {
                list-style-type:none;
                &:not(:last-child) {
                    margin-bottom: 6px;
                }
                & b {
                    font-weight: 700;
                    font-size: 16px;
                    color: var(--clr-common-black);
                    display: inline-block;
                    min-width: 135px;
                    padding-right: 15px;
                }
                & span {
                    font-size: 16px;
                    color: var(--clr-common-black);
                    display: inline-block;
                }
            }
        }
    }
    &-has-review {
        & span {
            font-size: 12px;
            margin-left: 7px;
        }
    }
}

.sg-single-product-popup-left.mr-50 {
    @media #{$md, $xs} {
        margin-right: 0;
        margin-bottom: 50px;
        float: none;
        width: 100%;
    }
}
.sg-single-product-popup-2 .sg-single-product-popup-control-wrap {
    padding: 0 120px;
    &.space-2 {
        @media #{$xl} {
            padding: 0 90px;
        }
        @media #{$lg} {
            padding: 0 50px;
        }
        @media #{$xs} {
            padding: 0;
        }
        @media #{$sm} {
            padding: 0 50px;
        }
    }
}
// shopping cart popup
.sg-shopping-cart-popup {
    position: fixed;
    right: -450px;
    padding: 40px;
    top: 0;
    max-width: 399px;
    overflow-y: auto;
    background: var(--clr-bg-gray-16);
    height: 100%;
    z-index: 9999;
    @include transition(.3s);
    &-close-btn {
        position: absolute;
        right: 20px;
        top: 20px;
        background: transparent;
        border: 0;
        padding: 0;
        font-size: 23px;
        color: var(--clr-common-black);
        &:hover {
            color: var(--clr-theme-primary);
        }
    }
    &.visible {
        right: 0;
    }
    @media #{$xs} {
        padding: 30px 18px;
    }
    &-remove-btn {
        font-size: 12px;
        border: 0;
        padding: 0;
        background: transparent;
        border-bottom: 1px solid var(--clr-common-black);
        &:hover {
            border-color: var(--clr-theme-primary);
            color: var(--clr-theme-primary);
        }
    }
    &-quantity-action-flex {
        display: flex;
        justify-content: space-between;
        & > * {
            flex: 0 0 auto;
        }
    }
    &-quantity-form {
        position: relative;
        width: 80px;
        & .plus-btn {
            position: absolute;
            font-size: 14px;
            top: 3px;
            font-weight: 600;
            right: 8px;
        }
        & input[type="text"] {
            width: 100%;
            height: 20px;
            border: 0;
            border-radius: 2px;
            background-color: var(--clr-common-white);
            font-size: 14px;
            text-align: center;
            color: var(--clr-common-black);
        }
        & .minus-btn {
            position: absolute;
            font-size: 14px;
            top: 3px;
            font-weight: 600;
            left: 8px;
        }
    }
    &-product {
        &-list {
            & ul {
                & li {
                    list-style-type: none;
                }
                & li:not(:last-child) {
                    border-bottom: 1px solid var(--clr-bg-gray-3);
                    padding-bottom: 40px;
                    margin-bottom: 40px;
                }
            }
        }
        &-single {
            & .thumb {
                width: 100px;
                height: 100px;
                margin-right: 20px;
                float: left;
                background-color: var(--clr-common-white);
                display: flex;
                align-items: center;
                justify-content: center;
                & img {
                    width: 64px;
                }
            }
            & .content {
                overflow: hidden;
                padding-top: 10px;
                & .sg-price {
                    display: inline-block;
                    margin-bottom: 10px;
                }
                & .sg-title {
                    font-size: 18px;
                    margin-bottom: 7px;
                    @media #{$xs} {
                        font-size: 15px;
                    }
                    & a {
                        text-decoration: none;
                        &:hover {
                            color: var(--clr-theme-primary);
                        }
                    }
                }
            }
        }
    }
    &-title {
        font-size: 25px;
        margin-bottom: 35px;
    }
}
.sg-popup-search-box-close-action-btn {
    position: fixed;
    right: 50px;
    top: 50px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    color: var(--clr-common-black);
    background: var(--clr-bg-gray-16);
    border-radius: 50%;
    @media #{$xl, $lg, $md} {
        right: 10px;
        top: 10px;
    }
    @media #{$xs} {
        right: 20px;
        top: 10px;
    }
    &:hover {
        background-color: var(--clr-theme-primary);
        color: var(--clr-common-white);
    }
}
.sg-popup-search-box-input {
    @media #{$xs} {
        background: #f8f8f8;
    }
}
.shopping-cart-sidebar-popup-close {
	display: inline-block;
	border: 0;
	width: 45px;
	height: 45px;
	background-color: var(--clr-bg-gray-2);
	line-height: 45px;
	font-size: 19px;
	border-radius: 50%;
	color: var(--clr-common-black);
	position: absolute;
	right: 20px;
    top: 20px;
    &:hover {
        background-color: var(--clr-theme-primary);
        color: var(--clr-common-white);
    }
}
.sg-cart-total-box-2 .nice-select .list {
	left: auto;
	right: 0;
}