/*
************
*************************
24. Pricing
******************************************************* 
*************************************************************** */
@use '../abstracts/variables'  as *;
.sg-pricing {
    &-action {
        &-link-2 {
            height: 55px;
            border-radius: 12px;
            background: var(--clr-common-black);
            display: inline-block;
            font-weight: 500;
            font-size: 16px;
            color: var(--clr-common-white);
            text-decoration: none;
            line-height: 55px;
            padding: 0 48px;
            &:hover {
                background-color: var(--clr-theme-primary);
                color: var(--clr-common-white);
            }
        }
    }
    &-duration-badge {
        &-2 {
            border-top: 1px solid var(--clr-bg-gray-3);
            padding-top: 18px;
        }
        &-text-2 {
            font-size: 16px;
            & i {
                font-size: 10px;
                display: inline-block;
                color: var(--clr-body-text);
                margin-right: 5px;
            }
        }
    }
    &-title-2 {
        font-size: 70px;
        margin-bottom: 0;
        & sup {
            font-size: 20px;
            vertical-align: top;
            transform: translateY(23px);
            display: inline-block;
        }
        & span {
            font-size: 20px;
        }
    }
    &-subtitle-2 {
        font-weight: 500;
        font-size: 18px;
        display: block;
        color: var(--clr-theme-primary);
        margin-bottom: 20px;

    }
    &-box {
        &-head-2 {
            margin-bottom: 15px;
        }
        &-2 {
            background-color: var(--clr-common-white);
            padding: 55px 85px;
            border-radius: 15px;
            @media #{$xs} {
                padding: 47px 27px;
                padding-top: 43px;
            }
            &.active {
                position: relative;
                & .sg-pricing-action-link-2 {
                    background-color: var(--clr-theme-primary);
                }
                &::before {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 0;
                    border-top-right-radius: 15px;
                    width: 100px;
                    height: 100px;
                    background: var(--clr-theme-primary);
                    clip-path: polygon(0 0, 100% 0, 100% 100%);
                }
                &::after {
                    position: absolute;
                    right: 15px;
                    top: 15px;
                    content: "\f02b";
                    font-family: "Font awesome 5 pro";
                    color: var(--clr-common-white);
                    font-size: 25px;
                }
            }
            @media #{$xl} {
                padding: 55px 45px;
            }
            @media #{$md} {
                padding: 50px 37px;
            }
            @media #{$xs} {
                padding: 47px 27px;
            }
            @media #{$sm} {
                padding: 67px 67px;
            }
        }
        &-list-2 {
            border-top: 1px solid var(--clr-bg-gray-3);
            padding-top: 21px;
            & li {
                font-weight: 500;
                font-size: 16px;
                list-style: none;
                color: var(--clr-common-black);
                margin-bottom: 3px;
                & span {
                    font-weight: 400;
                    color: var(--clr-body-text);
                }
            }
        }
    }
}