/*
************
*************************
10. Service
******************************************************* 
*************************************************************** */
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
.sg-service {
    &-box {
        &-content {
            padding: 0 30px;
            @media #{$lg} {
                padding: 0 15px;
            }
            @media #{$xs} {
                padding: 70px 30px;
            }
            &.has-before-angle {
                position: relative;
                @media #{$xs} {
                    overflow: hidden;
                }
                &::after {
                    position: absolute;
                    left: -12px;
                    top: 50%;
                    transform: translateY(-50%);
                    content: "";
                    background-color: var(--clr-common-white);
                    height: 21.33px;
                    width: 12px;
                    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 50%);
                    @media #{$xs} {
                        display: none;
                    }
                }
                &.rotate-y {
                    &::after {
                        transform: translateY(-50%) rotateY(180deg);
                        left: auto;
                        right: -12px;
                    }
                }
            }
        }
        text-align: center;
        &-img {
            height: 320px;
            @media #{$lg} {
                height: 250px;
            }
            @media #{$xs} {
                height: 498px;
            }
        }
        &-title {
            font-size: 24px;
            margin-bottom: 26px;
            @media #{$lg} {
                margin-bottom: 13px;
            }
        }
        &-text {
            margin-bottom: 32px;
            @media #{$lg} {
                margin-bottom: 17px;
            }
        }
    }
    &-tab {
        &-content {
            &-icon-3 {
                width: 62px;
                height: 62px;
                background: var(--clr-common-white);
                display: inline-block;
                text-align: center;
                line-height: 62px;
                border-radius: 50%;
                color: var(--clr-theme-primary);
                &:hover {
                    color: var(--clr-theme-primary);
                }
            }
        }
        &-controls-2 {
            & button {
                width: 100%;
                height: 90px;
                border-radius: 15px;
                background: var(--clr-common-white);
                border: 0;
                color: var(--clr-common-black);
                font-family: $prata;
                font-size: 24px;
                padding: 0 30px;
                background-color: var(--clr-bg-gray-2);
                text-align: left;
                @media #{$xs} {
                    font-size: 19px;
                }
                &.bg-theme {
                    background-color: var(--clr-bg-gray-3);
                }
                @media #{$lg} {
                    height: 74px;
                }
                @media #{$lg} {
                    font-size: 18px;
                }
                @media #{$md, $xs} {
                    text-align: center;
                }
                & span {
                    display: inline-block;
                    transform: translateY(-13px);
                  }
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
                &:hover, &.active {
                    background-color: var(--clr-theme-primary);
                    color: var(--clr-common-white);
                }
                & i {
                    font-size: 43.92px;
                    margin-right: 15px;
                    display: inline-block;
                    line-height: 2.0;
                    @media #{$lg} {
                        font-size: 37.92px;
                    }
                }
            }

        }
        &-content {
            &-wrap-2 {
                padding: 0 40px;
                padding-right: 45px;
                @media #{$lg} {
                    padding: 0 30px;
                }
                &.sh-has-service-content-space-1 {
                    @media #{$lg} {
                        padding: 0 30px;
                    }
                }
                @media #{$xs} {
                    padding: 0 32px;
                    padding-right: 32px;
                    padding-bottom: 50px;
                    padding-top: 15px;
                }
            }
            &-price-2 {
                font-size: 22px;
                color: var(--clr-common-black);
                & span {
                    font-weight: 700;
                    color: var(--clr-theme-primary);
                }
            }
            &-2 {
                display: flex;
                align-items: center;
                border-radius: 15px;
                overflow: hidden;
                background-color: var(--clr-common-white);
                @media #{$xs} {
                    flex-wrap: wrap;
                    flex-direction: column;
                    grid-gap: 30px;
                }
                & .sg-service-tab-content-img-2 {
                    flex: 0 0 auto;
                    position: relative;
                }
            }
            &-text-2 {
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 15px;
            }
            &-title-2 {
                font-size: 33px;
                line-height: 46px;
                margin-bottom: 20px;
                @media #{$xl} {
                    font-size: 30px;
                    line-height: 1.4;
                }
                @media #{$lg} {
                    font-size: 23px;
                    line-height: 1.4;
                    margin-bottom: 14px;
                }
                @media #{$md} {
                    font-size: 29px;
                    line-height: 1.4;
                    margin-bottom: 13px;
                }
                @media #{$xs} {
                    font-size: 22px;
                    line-height: 1.4;
                }
                & a {
                    text-decoration: none;
                    &:hover {
                        color: var(--clr-theme-primary);
                        margin-bottom: 0;
                    }
                }
            }
            &-img-2 {
                max-width: 345px;
                @media #{$lg} {
                    max-width: 295px;
                }
                @media #{$md} {
                    max-width: 293px;
                }
                @media #{$xs} {
                    max-width: 100%;
                }
            }
        }
    }
    &-appoint {
        &-btn-2 {
            height: 55px;
            border-radius: 12px;
            background: transparent;
            border: 1.5px solid var(--clr-theme-primary);
            display: inline-block;
            line-height: 52px;
            font-weight: 500;
            font-size: 16px;
            color: var(--clr-theme-primary);
            text-decoration: none;
            padding: 0 40px;
            &:hover {
                background-color: var(--clr-common-black);
                color: var(--clr-common-white);
                border-color: transparent;
            }
        }
    }
}
.sg-service-tab-content-price-2.mb-40 {
    @media #{$lg, $md} {
        margin-bottom: 19px;
    }
}
.sg-service-tab-controls-2.mr-20 {
    @media #{$xs} {
        margin-right: 0;
    }
}


/**
* service box 02
*/
.sg-service {
    &-box {
        &-3 {
            border-radius: 15px;
            background: var(--clr-common-white);
            @include transition(.3s);
            padding: 60px 43px;
            @media #{$md} {
                padding: 60px 25px;
            }
            @media #{$xs} {
                padding: 60px 17px;
            }
            @media #{$sm} {
                padding: 60px 57px;
            }
            &:hover {
                box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.08);
            }
            &.sg-service-box-style-border {
                border: 1px solid var(--clr-bg-gray-3);
                &:hover {
                    border-color: var(--clr-theme-primary);
                    box-shadow: none;
                }
            }
        }
        &-content-3 {
            & .title {
                font-size: 24px;
                margin-bottom: 28px;
                @media #{$xs} {
                    font-size: 22px;
                }
                & a {
                    text-decoration: none;
                    &:hover {
                        color: var(--clr-theme-primary);
                    }
                }
            }
            & .content {
                font-size: 18px;
                line-height: 28px;
                margin-bottom: 40px;
            }
        }
        &-icon-3 {
            margin-bottom: 50px;
            width: 80px;
            display: inline-block;
            height: 80px;
            border-radius: 50%;
            line-height: 80px;
            background: var(--clr-theme-primary-soft);
            & i {
                font-size: 43.92px;
                color: var(--clr-theme-primary);
            }
        }
    }
}
.read-more-btn {
    height: 55px;
    border-radius: 8px;
    background: var(--clr-common-white);
    border: 1px solid var(--clr-theme-primary);
    text-decoration: none;
    color: var(--clr-theme-primary);
    display: inline-block;
    line-height: 53px;
    padding: 0 30px;
    font-weight: 500;
    font-size: 15px;
    &:hover {
        background-color: var(--clr-theme-primary);
        color: var(--clr-common-white);
    }
}
.sg-service-tab-controls-2 {
    max-height: 424px;
    overflow-y: auto;
    @media #{$lg} {
        max-height: 376px;
    }
    &::-webkit-scrollbar-track {
        background-color: #FFF5F5;
        border-radius: 3px;
    }
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--clr-theme-primary); 
        border-radius: 3px;
      }
}
.has-service-tab-play-pos-3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.has-service-wraped-order {
    & .row.g-0 {
        & > * {
            @media #{$md} {
                &:nth-child(2) {
                    order: 2;
                }
                &:nth-child(3) {
                    order: -2;
                }
            }
            & .sg-service-box {
                @media #{$xs} {
                    margin-bottom: 30px;
                }
            }
        }
    }
}
.sg-service-tab-controls-2.pr-20 {
    @media #{$xs} {
        padding-right: 0;
    }
}
.sg-service-box-content-3 .read-more-btn {
	height: 40px;
	line-height: 40px;
}
.service-widget-area.pl-30 {
	@media #{$lg, $md, $xs} {
        padding-left: 0;
    }
}